


/*ADD BUTTON CSS */
.add-button {
    height: 80px;
    width:80px;
    border-radius: 55px;
    border: none;
    cursor: pointer;
    background-color: #0729c0;
    z-index: 100; /* button is above the background */

}

/*SEARCH BAR CSS */

.search-bar {
    height: 50px;
    width: 240px;
    z-index: 100;
}

.search-wrapper {

}

@media (max-width: 800px){
    .add-button {

    }
}