@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Oswald:wght@200..700&family=Stack+Sans+Headline:wght@200..700&display=swap');

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align in a column down the middle of the page */
  flex-direction: column;
  align-items: center;
  background-color: #1f1f20;
  font-family: "oswald", sans-serif;

  padding-bottom: 80px;
}

.ui-container {
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  z-index: 100;
  padding: 20px;

  /* remove */
  border: 8px solid #0000ff;
}

.heading {
  font-family: "oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 40px;
  margin: 30px 30px 10px 30px;
  font-style: normal;
  color: white;
  z-index: 1;
  text-align: left;
  align-self: flex-start; 
  width: 100%;
}

.oswald-200 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* make the heading smaller on mobile */
@media (max-width: 800px){
  .heading {
    margin: 15px 15px 5px 15px;
    font-size:35px;
  }

}
